.main__btn__ {
  position: fixed;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 1px 1px 5px#90EE90 inset;
  transition: all 1s;
  /*  */
  /* width: 525px;
  height: 525px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px; */
}

/* 主按钮 */

.main__btn__:hover {
  width: 525px;
  height: 525px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.main__btn__ .inner_box {
  padding-top: 25px;
  padding-right: 25px;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__btn__ .inner_box .in_the_inner_box_left, .main__btn__ .inner_box .in_the_inner_box_right {
  flex: 0 1;
  height: 100%;
}

.main__btn__ .inner_box .in_the_inner_box_left {
  flex-grow: 0.05;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar {
  height: 80%;
  width: 100%;
  border: 1px solid #FFD700;
  box-shadow: 1px 1px 5px #fff inset;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar .inner_move_bar {
  width: 100%;
  height: 0;
  background: #90EE90;
  border-radius: 5px;
}

.main__btn__ .inner_box .in_the_inner_box_right {
  flex-grow: 0.95;
  /* background: blue; */
}