.main__btn__ {
  position: fixed;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px cyan inset;
  /* transition: all 1s; */
  /*  */
  width: 525px;
  height: 525px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

/* 主按钮 */

/* .main__btn__:hover {
  width: 525px;
  height: 525px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
} */

.main__btn__ .inner_box {
  padding-top: 25px;
  padding-right: 25px;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__btn__ .inner_box .in_the_inner_box_left, .main__btn__ .inner_box .in_the_inner_box_right {
  flex: 0 1;
  height: 100%;
}

.main__btn__ .inner_box .in_the_inner_box_left {
  flex-grow: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar {
  height: 80%;
  width: 100%;
  background: red;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar .inner_move_bar {
  width: 100%;
  height: 0;
  background: #fff;
}

.main__btn__ .inner_box .in_the_inner_box_right {
  flex-grow: 0.9;
  background: blue;
}