body[__board__='__'] {
  position: absolute!important;
  top: 0!important;
  left: 0!important;
  margin: 0!important;
  padding: 0!important;
}

.main__btn__ {
  cursor: pointer;
  z-index: 9999999!important;
  position: fixed;
  left: 300px;
  top: 500px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
}

.main__btn__:hover {
  border-radius: 0;
  height: 35px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main__btn__ .inner_box {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  padding: 10px;
  margin-top: -485px;
  margin-left: 25px;
  user-select: none;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 500px;
  height: 500px;
  /* display: flex */
  justify-content: space-between;
  align-items: flex-start;
}

.main__btn__ .inner_box .switch, .main__btn__ .inner_box .can_move {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #fff inset;
}

.main__btn__ .inner_box .switch {
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007fff;
}

.main__btn__ .inner_box .can_move {
  left: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007fff;
}

.main__btn__ .inner_box .in_the_inner_box_left, .main__btn__ .inner_box .in_the_inner_box_right {
  height: 100%;
}

.main__btn__ .inner_box .in_the_inner_box_left {
  flex-basis: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn__ .inner_box .in_the_inner_box_right {
  flex: 1 0;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar {
  height: 400px;
  width: 100%;
  /* border: 1px solid #FFD700; */
  box-shadow: 1px 1px 5px #fff inset;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.main__btn__ .inner_box .in_the_inner_box_left .move_bar .inner_move_bar {
  width: 100%;
  height: 0;
  background: #90EE90;
  border-radius: 5px;
}